<h1>Login</h1>
<hr>
<section class="section">
  <%= form_for(:session, url: login_path) do |f| %>
    
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    
    <%= f.submit %>
  <% end %>
</section>