<h1 class="title"><%= @event.title%></h1>
<hr>
<p><%= @event.date%></p>
<p><%= @event.venue%></p>
<p><%= @event.description%></p>

<hr>

<% @event.attendees.each do |attendee| %>
  <ol>
    <li> <%= attendee.name %></li>
  </ol>
<% end %>