<h1 class="title"><%= @event.title%></h1>
<hr>
<% suffix = Date.today < @event.date ? "from now" : "ago" %>
<p><%= time_ago_in_words(@event.date)%> <%= suffix %> </p>
<p><%= @event.venue%></p>
<p><%= @event.description%></p>

<hr>

<% @event.attendees.each do |attendee| %>
  <ol>
    <li> <%= attendee.name %></li>
  </ol>
<% end %>